{
  "app": {
    "guid": "34a53f82-4405-4549-b050-da42298cf549"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators"
  },
  "security": {
    "token": "MzRhNTNmODItNDQwNS00NTQ5LWIwNTAtZGE0MjI5OGNmNTQ5",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "Token"
  }
}